{%extends 'base.html'%}
{%block content%}
<div class="content-wrapper">
<section class="content">
<div class="main_container" ng-controller="dashboardCtl as vm">
<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                <div>&nbsp;</div>
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">  
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 pull-left">
                                <div class="row">
                                    <span class="col-sm-6 col-md-6 col-lg-6 col-xl-6 pull-left">
                                        <b>[[vm.json_details[0].caption]]</b>
                                    </span>
                                    <span class="col-sm-6 col-md-6 col-lg-6 col-xl-6 pull-right" ng-if="!toggle">
                                       Showing [[ vm.empData.length ==0 ? vm.currentPos : vm.currentPos+1 ]] of [[ vm.empData.length==0? 0: vm.empData[0].length ]] records 
                                    </span>                            
                                </div>
                            </div> 
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 pull-right"> 
                             <div class="row">       
                              <span class="col-sm-8 col-md-8 col-lg-8 col-xl-8 pull-right">
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.activate()">
                                    <i class="fa fa-print icon-color text-gray"></i>
                                </a>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.searchRecord()">
                                    <i class="fa fa-search icon-color "></i>
                                </a>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="">
                                    <i class="fa fa-trash-o icon-color"></i>
                                </a>
                                <div ng-click="vm.toggle=true">
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="toggle= !toggle" tooltip="Next">
                                    <i ng-show="toggle" class="fa fa-table icon-color "></i>
                                    <i ng-hide="toggle" class="fa fa-list-ul  icon-color "></i>
                                </a>
                                </div>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.editRecord(); vm.isSave=!vm.isSave ">
                                    <i class="fa fa-pencil icon-color "></i>
                                </a>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.first()" >
                                    <i class="fa fa-fast-backward icon-color " ng-class="{ 'text-light-blue': vm.currentPos==0 }"></i>
                                </a>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.previous()"  >
                                    <i class="fa fa-backward icon-color " ng-class="{ 'text-light-blue': vm.currentPos==0 }" ></i> 
                                </a>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.next()"  >
                                    <i class="fa fa-forward icon-color " ng-class="{'text-light-blue': vm.currentPos == (vm.empData[0].length - 1) }"></i>
                                </a>
                                <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.last()" >
                                    <i class="fa fa-fast-forward icon-color " ng-class="{'text-light-blue': vm.currentPos == (vm.empData[0].length - 1) }" ></i>
                                </a>  
                              </span>                                
                             </div>
                            </div>  
                        </div>             
                    </div>

                    
                    <uib-tabset active="active"> 
                    

                    <!-- Box model to display data as list or table -->
                    <div ng-show="vm.toggle"> 
                        <div ng-if="toggle && !vm.isEmployee" class="box box-solid"> <!-- .box -->
                            <!--
                            <div class="box-header with-border">
                                <h3 class="box-title" > [[vm.json_details[0].caption]] 
                                <span ng-hide="vm.json_details[0].caption == undefined">
                                <span ng-hide="toggle">List</span>
                                <span ng-show="toggle">Table</span>
                                </span>
                                </h3>
                                <div class="box-tools">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>                               
                            </div>
                            -->
                            <div class="box-body no-padding" >
                                <!-- To display all data as LIST -->
                                <ul ng-show="toggle" class="nav nav-pills nav-stacked" >
                                    <li ng-repeat="row in vm.empData[0]" ng-if="field.fieldHidden != 'true'" >
                                    <a href="#" ng-click="vm.fetch( row.emp_id); vm.isSave=true" >

                                    <!-- Cool Hari ! For dynamic fields list -->
                                    <!--<div ng-repeat="field in fieldTab.field" class="row"> [[ row[field.fieldName] ]] </div> -->
                                    <!-- . Style 1  -->
                                    <div class="card" style="box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.12); padding:10px;" >
                                        <div class="card-block" >
                                            <div class="card-title ">
                                                <span  class="card-title-title" ng-if="row.sex=='male'">Mr. </span>
                                                <span  class="card-title-title" ng-if="row.sex=='female'">Ms. </span> 
                                                <span  class="card-title-title" ng-if="row.sex=='' || row.sex=='other'"> Mr|Ms. </span> 
                                                <span class="card-title-title" > [[row.name | uppercase]] 
                                                <span>[[ designation ]]       
                                                </span>
                                                </span>

                                                <span class="card-text card-title-info">
                                                 Designation: 
                                                </span>
                                                <span class="card-text card-title-info">
                                                 Center code: [[row.center_code]]
                                                </span>
                                                <span class="card-text card-title-info">
                                                 Client : [[row.client_name | uppercase ]]
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .Style 1 end -->
                                    </a>
                                    </li>
                                </ul>
                            </div><!-- /.box-body -->
                        </div><!-- /. box -->
                    </div>
                        <!-- To select a particular Item to be edited to SAVE -->
                        <div ng-if="vm.isSave" class="pull-right ">
                            <span>
                                <button  type="button" class="col-md-1 btn btn-success btn-block btn-sm btn-flat " id= "" ng-click="save(elem)"> Save </button>
                            </span>
                            <span>
                                <button  type="button" class="col-md-1 btn btn-warning btn-block btn-sm btn-flat " id= "" ng-click="undo()"> Undo </button>
                            </span>
                        </div>
                        <uib-tab ng-if="vm.isEmployee"  index="$index + 1 " ng-repeat=" tabOneByOne in vm.json_details[0].tabs[0]" heading="[[ tabOneByOne.tabCaption ]]">
                            <div class="panel-body">
                                <div  class="form-group row" ng-repeat="elem in tabOneByOne.field track by $index">                                     
                                    <label  class="form-controll [[elem.fieldClass]]"  ng-hide="elem.fieldHidden=='true'">[[elem.fieldCaption]] [[ vm.totalRecords ]] </label> [[ vm.empData.data[0].length ]]
                                    
                                    <field meta="elem" model="vm.employee"> </field>
                                    
                                </div>
                            </div>
                                                        
                        </uib-tab> 
                        <uib-tab ng-if="!toggle"  index="$index + 1 " ng-repeat=" tabOneByOne in vm.json_details[0].tabs[0]" heading="[[ tabOneByOne.tabCaption ]]">
                            <div class="panel-body">
                                <div  class="form-group row" ng-repeat="elem in tabOneByOne.field">
                                    <label  class="form-controll [[elem.fieldClass]]"  ng-hide="elem.fieldHidden=='true'">[[elem.fieldCaption]] [[ vm.totalRecords ]] </label> [[ vm.empData.data[0].length ]]                                   
                                    <field meta="elem" model="vm.empData[0][vm.currentPos ]"> </field>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Section for View Documents, such as Documents, Visa & Experience -->
<section>
    <div class="row">
        <div class="col-md-12"> 
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">  
                    <div class="col-md-12">
                        <span class="col-md-12 pull-left">
                            View
                        </span>                            
                    </div> 
                </div>
                <uib-tabset active="active">
                    <uib-tab index="$index + 1" ng-repeat=" tabOneByOne in vm.json_details[0].tabs[1]  track by $index" heading="[[ tabOneByOne.name ]]" >
                        <div class="panel-body ">
                             <!-- [[ tabOneByOne.filename ]]     -->
                            <div class="form-group " ng-repeat="elem in tabOneByOne.filename  track by $index">                          
                                <!--  [[elem.tabs]]   [[elem.name]]  -->
                                <div class="form-group " ng-repeat="item in elem.tabs track by $index">
                                <!-- [[item]] -->                                    
                                    <table st-table="rowCollection"  st-safe-src="vm[elem.name]"
                                 class="table table-striped">       
                                        <thead>
                                            <tr >
                                                <th ng-repeat="it in item.field track by $index" st-sort="it.fieldCaption">[[it.fieldCaption]] </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td colspan="100%" ng-if="rowCollection.length==0" align="center"><span class="info no_data">No Record Found!</span></td></tr>
                                            <tr ng-repeat="row in rowCollection">
                                                <td ng-repeat="it in item.field track by $index" >[[ row[it.fieldName] ]]</td>
                                                <td>
                                                    <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"  data-toggle="modal" data-target="#myModal" href="#" ng-click="vm.editDoc(item, elem.name, row.emp_id, row.slno)">
                                                        <i class="fa fa-pencil "></i>
                                                    </a>
                                                    <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="#" ng-click="vm.deleteDoc( elem.name, row.emp_id, row.slno)">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr> 
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-center" st-pagination="" st-items-by-page="2" colspan="100%" ></td> 
                                                <!--st-displayed-pages="5"-->
                                                <!-- st-page-change="10" -->
                                            </tr>
                                        </tfoot>
                                    </table>                                  
                                </div> 
                            </div> 
                        </div>    
                    </uib-tab>                    
                </uib-tabset>
            </div>
        </div>
    </div>
</section>
<!-- Section for ACTIONS (control) --> 
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 col-sm-2 col-lg-2 pull-right" ng-repeat="action in vm.json_details[0].actions">
                <button type="button" class="btn btn-block [[action.class]] btn-sm btn-flat " id= "[[action.id]]" ng-click="[[action.action_method]]"> [[action.name]]</button>
            </div>            
        </div>
    </div>
</section>
<section>
    <div>        
        <div class="modal modal-primary" id="myModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Update Info</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row center " ng-repeat="label in vm.editEmpJson">                         
                            <label class=" [[ label['fieldClass'] ]] col-md-3 control-label " > [[ label['fieldCaption'] ]] </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="[[ label['fieldName'] ]]" value=" [[ vm.editEmp[ label['fieldName'] ] ]] "  placeholder=" [[ vm.editEmp[ label['fieldName'] ] ]] ">
                            </div>
                            <!-- <label class="col-md-3 form-controll">
                             [[  (key.substr(0, 1).toUpperCase() + key.substr(1)).replace('_',' ').replace('_',' ')
                            ]] </label>
                            <input type="text" class="col-md-7 form-control "
                            name="[[key]]" placeholder="[[key]]" value="[[value]]"/> -->
                        </div>                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline" ng-click="vm.ok(this.value)" >Update</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</section>
</div>

<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper">
 <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Hover Data Table</h3>
                </div>
                <div class="box-body">
                  <table id="emp-table" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Sex</th>
                        <th>DOB</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div> -->
{%endblock%}








        